 
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Attractive gradient background */
  background: linear-gradient(135deg, #57aba1, #1c8866);
}

.container{
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  width: 80%;
}

/* Download Button */
.download-btn{
  display: block;
  margin: 20px auto;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #ff7e5f, #feb47b);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Hover effect */
.download-btn:hover{
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}